*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

/new

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

/output
*~
/website/helper/*~

/website/debug
/website/rundgang/Downhill1.htm
/website/rundgang/Downhill2.htm
/website/rundgang/Downhill3.htm
/website/rundgang/Friedrichroda2.htm
/website/rundgang/Friedrichroda3.htm
/website/rundgang/Inselsberg1.htm
/website/rundgang/Inselsberg2.htm
/website/rundgang/Inselsberg_Tabarz.htm
/website/rundgang/Kneippbecken_Spielplatz.htm
/website/rundgang/Kurpark_Winkelhof1.htm
/website/rundgang/Kurpark_Winkelhof2.htm
/website/rundgang/Neuer Weg.htm
/website/rundgang/Tabarz1.htm
/website/rundgang/Tabarz2.htm
/website/rundgang/Tabarz3.htm
/website/rundgang/Tabarz4.htm
/website/rundgang/Tabarz_Baerensprung.htm
/website/rundgang/Tabarz_Kirche1.htm
/website/rundgang/Tabarz_Kirche2.htm
/website/rundgang/Tabbs.htm
/website/rundgang/Tretbecken_Froschteich.htm
/website/rundgang/Tretbecken_Froschteich2.htm
/website/rundgang/Tretbecken_Froschteich3.htm
/website/rundgang/Zimmerbergblick1.htm
/website/rundgang/Zimmerbergblick2.htm
/website/rundgang/Zimmerbergblick3.htm
/website/rundgang/Zimmerbergblick4.htm
/website/rundgang/Zimmerbergblick5.htm
/website/rundgang/index.htm
/website/rundgang/left.bmp
/website/rundgang/right.bmp
/website/_rundgang/Downhill1.htm
/website/_rundgang/Downhill2.htm
/website/_rundgang/Downhill3.htm
/website/_rundgang/Friedrichroda2.htm
/website/_rundgang/Friedrichroda3.htm
/website/_rundgang/Inselsberg1.htm
/website/_rundgang/Inselsberg2.htm
/website/_rundgang/Inselsberg_Tabarz.htm
/website/_rundgang/Kneippbecken_Spielplatz.htm
/website/_rundgang/Kurpark_Winkelhof1.htm
/website/_rundgang/Kurpark_Winkelhof2.htm
/website/_rundgang/Neuer Weg.htm
/website/_rundgang/Tabarz1.htm
/website/_rundgang/Tabarz2.htm
/website/_rundgang/Tabarz3.htm
/website/_rundgang/Tabarz4.htm
/website/_rundgang/Tabarz_Baerensprung.htm
/website/_rundgang/Tabarz_Kirche1.htm
/website/_rundgang/Tabarz_Kirche2.htm
/website/_rundgang/Tabbs.htm
/website/_rundgang/Tretbecken_Froschteich.htm
/website/_rundgang/Tretbecken_Froschteich2.htm
/website/_rundgang/Tretbecken_Froschteich3.htm
/website/_rundgang/Zimmerbergblick1.htm
/website/_rundgang/Zimmerbergblick2.htm
/website/_rundgang/Zimmerbergblick3.htm
/website/_rundgang/Zimmerbergblick4.htm
/website/_rundgang/Zimmerbergblick5.htm
/website/_rundgang/index.htm
/website/_rundgang/left.bmp
/website/_rundgang/right.bmp
/userAndPassword.py
