@charset "csUTF8";
/*clear by Eric Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}





body {
	color: black; background-color: rgb(227, 255, 255);/*rgb(220, 245, 178) C6DF9C 187B39;*/
	font-size: 100.01%;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0; padding: 0;
	text-align: center;/* Zentrierung im Internet Explorer */
}

div#page{
	position: relative;
	text-align: center;
	margin: 0 auto;
    width: 1000px;
	padding: 0;
	z-index: 0;
	background-color: white;
	
}

div#scrollarea{
	width: 100%;
	height: 100%;
	margin: 0; padding: 0;
	
}

div.header {
	position: absolute;
	top: 0em;
	border: 0;
	background-color: #187B39;
	text-align: center;
	margin-bottom: 0.5em;
	z-index: 1;
	color: 	rgb(64, 0, 0);
	width: inherit;
	
}
html>body .header {/* nur fuer moderne Browser! */
	position: fixed;
}
 
h1{
	float: left;
	text-align: left;
	margin:0;
	padding-left:0.5em;
	margin-bottom: 0.3em;
	margin-top: 0.2em;
}

div.flag{
	float: right;
	margin: 0; padding: 0.5em;
	margin-top: 0.2em;
}

div.flag img{
	height: 1.5em;
} 

div#clear{
	clear: both;
}

div#frame div {
	 clear: left;
}
ul#navigation {
	margin: 0;
	margin-left: 1.5em; padding: 0;
	text-align: center;
}

ul#navigation li {
	font-size: 90%;
	list-style: none;
	float: left;/* ohne width - nach CSS 2.1 erlaubt */
	position: relative;
	margin-right: 0.2em; padding: 0;
}

ul#navigation li ul {
	margin: 0; padding: 0;
	position: absolute;
	padding-top: 0.2em; left: 0;
	display: none;/* Unternavigation ausblenden */
}

ul#navigation li:hover ul {
	display: block;/* Unternavigation in modernen Browsern einblenden */
}
ul#navigation li ul li {
	float: none;
	display: block;
	margin-bottom: 0.2em;
}

ul#navigation a, ul#navigation span {
	display: block;
	width: 9.0em;/* Breite den in li enthaltenen Elementen zuweisen */
	padding: 0.1em 0.1em;
	text-decoration: none; font-weight: bold;
	border: 0;
	border-left-color: white; border-top-color: white;
	color: maroon; background-color: #18C639; /*  63784E*/
}

ul#navigation a:hover, ul#navigation span, li a#aktuell {
	color: white; background-color: #189C39;
}
li a#aktuell {/* aktuelle Rubrik kennzeichnen */
	color: maroon; background-color: silver;
}
ul#navigation li ul span {/* aktuelle Unterseite kennzeichnen */
	background-color: maroon;
}

ul#navigation li ul li a{
	width: 10.0em;
}

div#content{
	position: none;
	margin: 0.5em;
	margin-top: 2.3em;
	padding-top: 0.5em;
	text-align: left;
	padding-bottom: 5em;
}

div#content img {
	height: 400px;
	padding: 0.25em;
}

div.image {
	width: 100%;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

div.image img {
	padding: 0.25;
}

div.impressum {
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

td {
	padding-right: 1em;
}
